.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3C3C3C;
  line-height: 20px;
  padding: 0 15px;
  z-index: 1;
}

.menubar button {
  height: 10px;
  width: 10px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
}

.menubar button:nth-child(1) {
  background-color: #FF625A;
}

.menubar button:nth-child(2) {
  background-color: #FFBF2F;
}

.menubar button:nth-child(3) {
  background-color: #29CB42;
}